/* CSS Reset - Prevent font scaling on mobile */
* {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

html {
    font-size: 16px;
}

body {
    font-size: 16px;
}

/* Normalize fonts */
h1, h2, h3, h4, h5, h6, p, span, div, a, button, input {
    font-size: inherit;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
}