.border{
    border: 2px solid black;
    /* margin: 2px; */
}
.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}
.invert{
    filter: invert(1);
}
.rounded{
    
}
.m-1{
        margin: 10px 0 0 223px;
        
}
/* Hide all scrollbars while maintaining scroll functionality */
::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
